/* App Fonts */

@font-face {
    font-family: "TTNorms";
    src: url("../fonts/TTNorms-Regular.otf") format("openType");
}
@font-face {
    font-family: "TTNorms Medium";
    src: url("../fonts/TTNorms-Medium.otf") format("openType");
}
@font-face {
    font-family: "TTNorms Light";
    src: url("../fonts/TTNorms-Light.otf") format("openType");
}

@font-face {
    font-family: "Times Roman Italic";
    src: url("../fonts/Times-new-roman-italic.ttf") format("truetype");
}

/* Normalize Css */

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0; /* 3 */
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

/* Start Project */

html {
    box-sizing: border-box;
    
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    font-family: "TTNorms";
}

.container {
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

.header {
    margin-top: 1.5rem;
    
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav__ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding-left: 0;
}

.nav__ul-item{
    text-decoration: none;
    color: #081D43;
}

.header__icon{
    font-size: 1.6rem;
    cursor: pointer;
    display: none;
}

.header__btn {
    background-color: #0050C8;
    color: #fff;
    border-radius: 0.3rem;
    text-decoration: none;
    font-weight: normal;
    display: flex;
    height: 2.5rem;
    width: 8rem;
    justify-content: center;
    align-items: center;
}
.header-bottom{
    padding: 5rem 0;
}
.header-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-row__left{
    flex-basis: 50%;
}
.header-content-text{
    max-width: 33rem;
}
.header-row__left__title{
    font-family: "TTNorms Medium";
    font-size: 36px;
    color: #081D43;
    font-weight: normal;
    line-height: 2.5rem;
}
.header-row__left__text{
    color: #6C7890;
    line-height: 2.25rem;
    padding-top: 1.5rem;
}
.header-row__left__btn{
    display: flex;
    gap: 1rem;
    padding-top: 2rem;
}
.header-row__left__btna{
    display: flex;
    background-color: #87BC25;
    color: #fff;
    border-radius: 0.3rem;
    text-decoration: none;
    font-weight: normal;
    width: 8rem;
    height: 2.5rem;
    margin: auto 0;
    justify-content: center;
    align-items: center;
}
.header-row__left__btnb{
    justify-content: center;
    align-items: center;
    width: 8rem;
    display: flex;
    background-color: #2F5BEA;
    color: #fff;
    border-radius: 0.3rem;
    text-decoration: none;
    font-weight: normal;
    height: 2.5rem;
}
.header-row__right{
    flex-basis: 50%;
}
.header-content__img{
    width: 100%;
}


/* Main works section */


.main{
    margin-top: 3rem;
}
.main-head{
    margin: 0 auto;
    padding: 5rem 0;
}
.main-head-content{
    text-align: center;
    line-height: 2rem;
}
.main-head-content p{
    color: #6C7890;
}
.main-head-content h3{
    color: #081D43;
    font-weight: normal;
    font-family: "TTNorms Medium";
    font-size: 30px
}
.main-content{
    margin-top: 4rem;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 8rem;
    flex-wrap: wrap;
}
.main-content-wrapper{
    line-height: 2rem;
    color: #6C7890;
    flex-basis: 16rem;
}
.main-content-wrapper-heading{
    color: #081D43;
}
.main-img{
    display: block;
    margin: 0 auto;
    margin-top: 3rem;
    width: 100%;
}

/* Usere Comments Section */

.user-comments{
    background-color: #2F5BEA;
    width: 100%;
    display: block;
    padding: 5rem 0;
}
.user-comments-head{
    max-width: 29rem;
    text-align: center;
    color: #fff;
    margin: 0 auto;
}
.user-comments-head-heading{
    font-weight: normal;
    font-family: "TTNorms Medium";
    font-size: 30px;
}
.user-comments-head-text{
    font-family: "TTNorms Light";
    line-height: 2rem;
    padding-top: 1rem;
}
.comments-container{
    max-width: 65rem;
    margin: 0 auto;
}
.user-comments-frames{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin: 4rem 1rem 0 1rem;
}
.user-comments-content{ 
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-radius: 0.3rem;
    max-width: 20rem;
    justify-content: space-between;
    min-height: 17rem;
}
.user-comments-content-text{
    color: #7E8085;
    font-family: "Times New Roman";
    padding:1.2rem;
    font-style: italic;
    line-height: 1.8rem;
}
.user-comments-content-data{
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-top:  solid #E8EBEF;
    margin: 0;
    padding: 1.2rem;
}
.sponser-logos{
    display: flex;
    justify-content: space-between;
    padding-top: 8rem;
    margin: 0 1rem;
    align-items: center;
    flex-wrap: wrap;
}

/* Portfolio secion */

.portfolio{
    text-align: center;
    padding: 5rem 0;
}
.portfolio-heading{
    color: #6C7890;
    font-weight: normal;
}
.portfolio-text{
    color: #081D43;
    margin-top: 0.5rem;
    font-family: "TTNorms Medium";
    font-size: 1.9rem;
}
.portfolio-pics{
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    min-height: 37rem;
}
.portfolio-pics-container{
    flex-basis: 23rem;
}
.pportfolio__img{
    object-fit: cover;
    width: 100%;
}
 
/* Footer Section */

.footer-container{
    background-color: #2C57E4;
    max-width: 100%;
    min-height: 15rem;
}
.contactus{
    min-height: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contactus-text{
    font-weight: normal;
    font-size: 25px;
    color: #fff;
}
.email__section{
    flex-basis: 20rem;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 0.4rem 0.4rem 0.4rem 1rem;
    border-radius: 0.3rem;
}
.email__input{
    display: block;
    outline: none;
    border: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1.2rem;
    width: 100%;
    
}
.right-arrow{
    background-color: #2C57E4;
    padding: 0.8rem 1.4rem;
    border-radius: 0.3rem;
    border: none;
    outline: none;

}

/* rights section */


.rights{
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    display: flex;
    justify-content: space-between;
}   
.rights-text{
    color: #6C7890;
    font-size: 14px;
}


/* Project Responsive */

@media only screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .main-content{
        gap: 6rem;
    }
    .portfolio-pics{
        gap: 1rem;
    }
    .portfolio-pics-container{
        flex-basis: 28rem;
    }

    
}

@media only screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    }

    .header__btn{
        display: none;
    }
    .header-row{
        flex-direction: column-reverse;
        gap: 2rem;
    }
    .header-bottom{
        padding: 3rem 0;
    }
    .header-row__left__btn{
        flex-wrap: wrap;
        gap: 1rem;
    }
    .user-comments-frames{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .user-comments-content{
        max-width: 19rem;
    }
    .sponser-logos{
        gap: 1rem;
        justify-content: center;
        padding-top: 2.5rem;
    }
    .main-head{
        padding: 3rem 0;
    }
    .user-comments{
        padding: 3rem 0;
    }
    .portfolio{
        padding: 3rem 0;
    }
    .portfolio-pics-container{
        flex-basis: 20rem;
    }
    .right-arrow{
        padding: 0.8rem 1.2rem;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .nav__ul{
        position: fixed;
        flex-direction: column;
        background-color: #2C57E4;
        left: -256px;
        top: 0;
        bottom: 0;
        width: 16rem;
        padding: 2rem 1.5rem;
        transition: 0.3s all;
    }
    .nav__ul-item{
        color: #fff;
        font-size: 1.2rem;
    }

    .header__icon{
        display: block;
    }

    .main-content{
        margin-top: 2rem;
        gap: 2rem;
    }

    .main-content-wrapper{
        flex-basis: 14rem;
    }

    .user-comments-frames{
        margin: 2rem 0;
        gap: 1rem;
    }
    .user-comments-content {
        max-width: 15rem;
    }

    .portfolio-pics-container{
        flex-basis: 100%;
    }
    
    .contactus{
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }
    .contactus-text{
        max-width: 100%;
    }
    .email__section{
        flex-basis: auto;
        width: 100%;
    }
    .rights{
        flex-wrap: wrap;
    }
    
}

@media only screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }

    .main-content-wrapper{
        flex-basis: 16rem;
      }
    
    .user-comments-content{
        max-width: 100%;
    }
}
